h2 {
  margin: 20px 0;
}

p, ul {
  margin: 0 0 0.2rem;
}

h3, h4, h5, h6 {
  margin: 0 0 0.2rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 4rem;
}

.skills {
  padding-left: 40px
}

@media print {
  footer {
    display: none;
  }
  body {
    padding-top: 0;
  }
  header {
    display: none;
  }
}
