.title {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 4rem;
}

@media print {
  footer {
    display: none;
  }
  body {
    padding-top: 0;
  }
  header {
    display: none;
  }
}
